/****************General Styles *****************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/*************** Main Card *******************/

.App {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/************Id Card **************/

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Greetings, Random numbers and Colors */

.Greetings,
.Random,
.BoxColor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Greetings h1,
.Random h1 {
  margin-bottom: 10px;
}

.BoxColor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
}

.Random p {
  margin: 0;
  font-size: 20px;
}

/*********   Credit Card  *************/

.creditCardContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.creditCard {
  background-color: #fff;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}
.type {
  text-align: end;
}

.type img {
  height: 20px;
}

.cardNumber {
  font-size: 1.8em;
  text-align: start;
  width: 90vw;
  margin: 5px 0;
}

.expireBank {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 0.8em;
  gap: 20px;
}

.expireBank p {
  margin: 5px;
}

.ownerCard p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1em;
}

/***************  rating *********************/

.Rating {
  font-size: 2.4rem;
  color: #ffd700;
}

.ratingCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ratingCard h1 {
  color: #474b4e;
  font-size: 2rem;
}

/**********Driver rating card  **********/

.driverCard {
  background-color: #425cbb;
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50vw;
}

.driverCard img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100px;
  margin-bottom: 10px;
}

.driverCard h3 {
  margin: 0;
}

.driverCard p {
  margin: 0;
  font-size: 14px;
  color: rgb(23, 22, 22);
  font-weight: 700px;
}

.driverCard .car-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.driverCard > * {
  margin: 5px;
}
